/* TODO Add site wide styles */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,200;1,400&display=swap');

/* body {
    margin: 0
} */

:root {
    margin: 0;
}

main {
    font-size: small;
}