/* TODO Add site wide styles */

@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@500;600&family=Sonsie+One&family=Marck+Script&family=Montserrat:ital,wght@0,400;0,700;1,200;1,400&display=swap');

/* body {
    margin: 0
} */

:root {
    margin: 0;
    --font-header: 'Sonsie One', cursive;
    --font-display-title: 'Marck Script', cursive;
    --font-display-text: 'Montserrat', sans-serif;
}

html, body {
    height: 100%;
    background-image: url(./components/open_landscape_light_blur.jpg);
    background-size: 250vh;
}

p {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin: 0px
}