.info_display {
    width: 100%;
    max-height: 425px;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas: 
        'firstName lastName'
        'traits bio';
    align-items: flex-start;
    border-left: thick solid rgb(56, 20, 3)
}

.first-name,
.last-name {
    margin-top: 40px;
    text-align: center;
    font-size: 40px;
    font-family: var(--font-display-title);
    color: rgba(0, 0, 0, .65);
    min-height: 60px;
}

.first-name {
    grid-area: firstName;
}

.last-name {
    grid-area: lastName;
}
.traits-wrapper {
    grid-area: traits;
    display: flex;
    align-items: flex-start;
}

.trait {
    margin: 10px 20px 2px 75px;
    font-size: 16px;
    font-weight: bold;
    font-family: var(--font-display-title);
    align-self: start;
}

.trait-appear,
.trait-enter {
    opacity: 0;
}

.trait-appear-active,
.trait-enter-active {
    opacity: 1;
    transition: opacity 1000ms linear;
}

.trait-exit {
    opacity: 1;
}

.trait-exit-active {
    opacity: 0;
    transition: opacity 1000ms;
}

.bio {
    grid-area: bio;
    margin: 2px 60px 2px 20px;
    font-size: 16px;
    font-weight: bold;
    word-wrap: normal;
}