.info_display {
    width: 100%;
    max-height: 425px;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
    border-left: thick solid rgb(56, 20, 3)
}

.first-name,
.last-name {
    margin-top: 45px;
    text-align: center;
    font-size: 40px;
    font-family: var(--font-display-title);
    color: rgba(0, 0, 0, .65);
    min-height: 80px;
}


.trait {
    margin: 5px 65px;
    /* height: 2.25em; */
    font-size: 18px;
    font-weight: bold;
    font-family: var(--font-display-title);
    align-self: start;
    /* padding-left: 20px; */
}

.blocked-off {
    grid-area: 6 / 1 / 7 / 3;
}

.bio {
    grid-area: 2 / 2 / 6 / 3;
    
}