.info_display {
    width: 100%;
    max-height: 425px;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas: 
        'first-name last-name'
        'trait1 bio'
        'trait2 bio'
        'trait3 bio'
        'trait4 bio'
        'trait5 bio'
        'blocked-off blocked-off';
    align-items: flex-start;
    border-left: thick solid rgb(56, 20, 3)
}


.first-name,
.last-name {
    margin-top: 40px;
    text-align: center;
    font-size: 40px;
    font-family: var(--font-display-title);
    color: rgba(0, 0, 0, .65);
    /* min-height: 40px; */
    max-height: 20px;
    min-height: 20px;
}

.first-name {
    grid-area: first-name;
}

.last-name {
    grid-area: last-name;
}

.trait {
    margin: 2px 20px 2px 75px;
    /* height: 2.25em; */
    font-size: 18px;
    font-weight: bold;
    font-family: var(--font-display-title);
    align-self: start;
    /* padding-left: 20px; */
}

.id-char {
    grid-area: trait1;
}

.strengths {
    grid-area: trait2;
}

.weaknesses {
    grid-area: trait3;
}

.motivations {
    grid-area: trait4;
}

.secrets {
    grid-area: trait5;
}

.blocked-off {
    grid-area: blocked-off;
}

.bio {
    grid-area: bio;
    margin: 2px 60px 2px 20px;
    font-size: 20px;
    font-weight: bold;
}

.first-name-enter,
.first-name-exit-done,
.last-name-enter,
.last-name-exit-done,
.trait-enter,
.trait-exit-done {
    opacity: 0;
}

.first-name-enter-active,
.last-name-enter-active,
.trait-enter-active {
    opacity: 1;
    transition: opacity 1000ms linear;
}

.first-name-exit,
.last-name-exit,
.trait-exit {
    opacity: 1;
}

.first-name-exit-active,
.last-name-exit-active,
.trait-exit-active {
    opacity: 0;
    transition: opacity 1000ms linear;
}
