.body {
    display: grid;
    height: calc(100vh - var(--app-bar-height));
    grid-template-columns: var(--drawer-width) 1fr;
    background-image: url(../../open_landscape_light_blur.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}




@media (max-width: 1024px) {
    .body {
        grid-template-columns: 1fr;
    }
}

