.character_card {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
}



.character_card_header {
  background-color: var(--primary-light);
  color: var(--secondary);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-family: var(--font-display-text);
  height: 47px;
}

.card_header_name_wrapper {
  display: flex;
  justify-content: space-between;
}

.card_first,
.card_last {
  height: 35px;
  margin: 0 15px;
  min-width: 20%;
  text-align: center;
}

.character_card_body,
.modify_card_body {
  word-wrap: break-word;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-size: 100% 100%; */
  background-position-x: center;
  background-position-y: top;
  background-color: var(--background-color);
}

.character_card_body {
  height: 100%;
}

.modify_card_body {
  height: 60vh;
  overflow: hidden;
  width: 100%;
}

.modify_card_img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  
}

.modify_card_space {
  width: 100%;
  height: 200px;
  position: relative;
  top: 0;
  left: 0;
}

.modify_card_text {
  background-color: var(--background-color);
  position: relative;
  bottom: -70%;
  left: 0;
}