.character_card {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
}

.card_header_wrapper {
  background-color: var(--secondary);
  color: white;
  font-weight: bold;
}

.character_card_header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-family: var(--font-display-text);
}

.card_first,
.card_last {
  height: 35px;
  margin: 0 10px;
  /* padding: 5px; */
}

.card_body_wrapper {
  height: 100%;
  width: 100%;
  word-wrap: break-word;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-size: 100% 100%; */
  background-position-x: center;
  background-position-y: top;
  background-color: var(--background-color);
}
