#intro_page {
    height: 100%;
    width: 100%;
    /* padding: 2%; */
    display: grid;
    grid-template-rows: 1fr 100px;
}

#intro_page .slider_wrapper {
    height: 96%;
    width: 96%;
    max-height: 1000px;
    max-width: 1200px;
    background-color: var(--background-color);
    border: 2px solid var(--secondary);
    border-radius: 10px;
    box-shadow: 0px 0px 10px var(--shadow);
    display: flex;
    flex-flow: column;
    padding: 1.5%;
    margin: auto;
    box-sizing: border-box;
    overflow-y: hidden;
}
/* .content_wrapper::-webkit-scrollbar {
    width: 10px;
}

#intro_page .content_wrapper::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px rgba(0,255,0,0,);
background-color: var(--grey-light);
}

#intro_page .content_wrapper::-webkit-scrollbar-thumb {
background: var(--grey);
border-radius: 10px;
}

#intro_page .content_wrapper::-webkit-scrollbar-thumb:hover {
background: var(--grey-dark);
} */

#intro_page .intro_body {
    width: 100%;
    /* height: calc(100% - 50px); */
    height: 100%;
    overflow-y: auto;
}

#intro_page .intro_body::-webkit-scrollbar {
    width: 10px;
  }
  
#intro_page .intro_body::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px rgba(0,255,0,0,);
background-color: var(--grey-light);
}

#intro_page .intro_body::-webkit-scrollbar-thumb {
background: var(--primary);
border-radius: 10px;
}

#intro_page .intro_body::-webkit-scrollbar-thumb:hover {
background: var(--primary-dark);
}

#intro_page .intro_footer {
    width: 100%;
    height: 100px;
    position: absolute;
    z-index: 5000;
    bottom: 0;
    left: 0;
    background-color: var(--primary-light);
    display: flex;
    justify-content: center;
    align-items: center;
}

#intro_page .intro_footer_wrapper {
    display: flex;
}


/****************  Slides  *******************/

#intro_page .intro_info {
    display: flex;
    flex-flow: column;
    background-color: rgba(0,0,0,0);
    height: 100%;
}

#intro_page .intro_header {
    text-align: center;
    font-family: var(--font-header);
    font-weight: bold;
    color: var(--secondary);
    font-size: 2rem;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#intro_page .intro_content {
    width: 100%;
    height: 90%;
    padding: 0 2.5%;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

/****************  IntroInfo  *******************/

#intro_page .section1,
#intro_page .section2 {
    display: flex;
    justify-content: space-between;
    max-height: 45%;
    /* margin: 10px; */
    background-color: rgba(0,0,0,0);
    /* border: 2px solid var(--secondary);
    border-radius: 10px; */
}

#intro_page .section2 {
    flex-flow: row-reverse;
    margin-top: 20px;
}

#intro_page .intro_section_img_wrapper {
    min-width: fit-content;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    /* padding: 5px; */
}

#intro_page .section_img {
    object-fit: contain;
    /* border-radius: 10px; */
}

#intro_page .intro_section_content {
    margin: 0 20px;
    padding: 0 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-display-text);
    font-size: 1rem;
    /* font-weight: bold; */
}

#intro_page .content_header {
    margin: 30px 0;
    font-family: var(--font-header);
    color: var(--secondary);
}

#intro_page .content_description {
    margin-bottom: 5%;
}


/*****************  IntoCreate  *****************/

/* #intro_page .intro_create {
    
} */



/*****************  FOOTER SECTION  *****************/

#intro_page .splash_footer {
    background-color: var(--primary);
    display: flex;
    justify-content: center;
}

#intro_page .splash_footer_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 1100px;
    color: var(--primary-font-color);
    padding: 10px 0;
    
}



/*******************  MEDIA QUERIES  *******************/

/* @media screen and (min-width: 2000px) {
    #intro_page .splash_section_content {
    }
    
    #intro_page .splash_content {
        flex-flow: row;
        width: 100%;
        max-width: none;
        justify-content: space-evenly;
    }
    
    #intro_page .section1,
    #intro_page .section2 {
        width: 42.5%;
        max-height: 320px;
        margin: 0;
    }
    
    #intro_page .splash_footer_wrapper {
        max-width: none;
    }
} */