.nav-drawer {
    width: var(--drawer-width);
    height: calc(100% - var(--app-bar-height));
    left: 0px;
    background-color: rgba(255, 255, 255, .7);
    position: absolute;
}

.nav-link {
    text-decoration: none;
    font-family: var(--font-display-text);
    font-size: 17px;
    padding-left: 15px;
    color: var(--secondary);
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    transition: background-color 300ms ease-in-out;
}

.nav-link:not(.active):hover {
    background-color: #d8f9ff;
}

.active {
    /* background-color: var(--secondary); */
    color: var(--secondary);
    /* font-weight: bold; */
    background-color: var(--primary-light);
}




@media (max-width: 1024px) {
    .nav-drawer {
        left: calc(0px - var(--drawer-width));
        transition: 300ms ease-in-out;   
    }
    
    .open {
        transform: translateX(var(--drawer-width));
    }
}