.list-item {
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.text {
    font-family: var(--font-display-text);
    font-size: 17px;
    margin-left: 15px;
    color: var(--secondary);
}