.splash_page {
    height: fit-content;
    width: 100vw;
    display: flex;
    flex-flow: column;
    /* overflow-x: hidden;
    overflow-y: auto; */
}



/**************  FEATURE SECTION *****************/

.feature {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-image: url(./open_landscape.jpg);
    text-align: center;
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
}

.feature__title {
    margin-top: 150px;
    font-size: 6rem;
    font-weight: bold;
    font-family: var(--font-header);
    /* color: var(--secondary-dark); */
}

.feature__subtitle {
    font-size: 2.5rem;
    font-family: var(--font-header);
    /* color: var(--secondary-dark) */
}



/****************  INFO SECTION *******************/

.splash_info {
    display: flex;
    justify-content: center;
    background-color: currentColor;
    padding: 20px 0;
}

.splash_content {
    max-width: 1000px;
    width: 100%;
    padding: 1.5% auto;
    display: flex;
    flex-flow: column;
}

.section1,
.section2 {
    display: flex;
    justify-content: space-between;
    /* margin: 10px; */
    background-color: var(--background-color);
    /* border: 2px solid var(--secondary);
    border-radius: 10px; */
}

.section2 {
    flex-flow: row-reverse;
    margin-top: 20px;
}

.splash_section_img_wrapper {
    /* width: 30%; */
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    /* padding: 5px; */
}

.section_img {
    /* border-radius: 10px; */
}

.splash_section_content {
    width: 65%;
    margin: 0 20px;
    padding: 0 20px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    font-family: var(--font-display-text);
    font-size: 1.25rem;
    /* font-weight: bold; */
}

.content_header {
    margin: 30px 0;
    font-family: var(--font-header);
    color: var(--secondary);
}

/*****************  FOOTER SECTION *****************/

.splash_footer {
    background-color: var(--primary);
    display: flex;
    justify-content: center;
}

.splash_footer_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 1100px;
    color: var(--primary-font-color);
    padding: 10px 0;
    
}



/*******************  MEDIA QUERIES  *******************/

@media screen and (min-width: 2000px) {
    .splash_section_content {
    }
    
    .splash_content {
        flex-flow: row;
        width: 100%;
        max-width: none;
        justify-content: space-evenly;
    }
    
    .section1,
    .section2 {
        width: 42.5%;
        max-height: 320px;
        margin: 0;
    }
    
    .splash_footer_wrapper {
        max-width: none;
    }
}

