.app-bar {
    height: 55px
}

.grid {
    /* height: 93vh; */
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 250px 1fr 1fr 1fr;
    grid-template-rows: 425px 1fr 100px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: rgba(242,242,242,.75);
}

.grid_nav {
    grid-area: 1 / 1 / 4 / 2;
    /* border: thin solid black; */
    display: flex;
    border-right: thin solid rgba(0,0,0,.15)
}

.grid_photo {
    grid-area: 1 / 2 / 2 / 5;
    /* border: thin solid black; */
    display: grid;
    /* background-color: rgba(242,242,242,.4); */
}

.grid_form {
    grid-area: 2 / 2 / 3 / 5;
    /* border: thin solid black; */
    display: flex;
    flex-flow: column;
    height: 100%;
    margin-top: 40px;
}

/* .grid_display {
    grid-area: 2 / 3 / 3 / 5;
    border: thin solid black;
    display: flex;
} */

.grid_footer {
    grid-area: 3 / 2 / 4 / 5;
    /* border: thin solid black; */
}