.grid {
    /* height: 93vh; */
    max-width: 1200px;
    height: 97vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 250px 1fr 1fr 1fr;
    grid-template-rows: 425px 1fr 100px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.grid_nav {
    grid-area: 1 / 1 / 4 / 2;
    border: thin solid black;
    display: flex;
}

.grid_photo {
    grid-area: 1 / 2 / 2 / 5;
    border: thin solid black;
    display: grid;
}

.grid_form {
    grid-area: 2 / 2 / 3 / 5;
    border: thin solid black;
    display: flex;
    flex-flow: column;
    height: 100%;
}

/* .grid_display {
    grid-area: 2 / 3 / 3 / 5;
    border: thin solid black;
    display: flex;
} */

.grid_footer {
    grid-area: 3 / 2 / 4 / 5;
    border: thin solid black;
}