.create-character,
.modify-character {
    height: calc(100vh - var(--app-bar-height) - max(5%, 10px));
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.create-character_display,
.create-character_form,
.modify-character_display,
.modify-character_form {
    width: 48%;
    height: 100%;
    display: flex;
    box-shadow: 0px 0px 10px var(--shadow);
}

.create-character_display,
.modify-character_display {
    height: 100%;
    width: 48%;
}

.traits_wrapper {
    height: 70%;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

.img-bio_wrapper {
    height: 30%;
}



@media only screen 
    and (max-device-width: 1025px)
    and (orientation: portrait) {
    .create-character,
    .modify-character {
        flex-flow: column-reverse;
        height: calc(100vh - var(--app-bar-height))
    }
    
    .create-character_form,
    .modify-character_form,
    .create-character_display,
    .modify-character_display {
        width: 90%;
        height: 49%;
    }
    
}

@media only screen 
    and (max-device-width: 1024px) {
        .create-character_form,
        .modify-character_form {
            overflow-y: auto;
        }
        .create-character_form::-webkit-scrollbar,
        .modify-character_form::-webkit-scrollbar {
            width: 10px;
        }
        .create-character_form::-webkit-scrollbar-track,
        .modify-character_form::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px grey;
            background-color: var(--grey-light);
        }
        .create-character_form::-webkit-scrollbar-thumb,
        .modify-character_form::-webkit-scrollbar-thumb {
            background: var(--primary);
            border-radius: 10px;
        }
        .create-character_form::-webkit-scrollbar-thumb:hover,
        .modify-character_form::-webkit-scrollbar-thumb:hover {
            background: var(--primary-dark);
        }
    }