.create-character {
    height: 99%;
    width: 100%;
    display: flex;
}

.create-character_form {
    width: 50%;
}

.create-character_display {
    height: 100%;
    width: 50%;
    display: flex;
}